{% extends 'accounts/base_accounts.html' %}

{% block title %}Sign Up{% endblock %}

{% block top_header %}Sign Up{% endblock %}

{% block navbar %}{% endblock %}

{% block main_content %}
<h3>Make a new account</h3>
<br>

<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-sm-12 col-md-6'>
    <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      <button type='submit' class='btn btn-primary'>Apply</button>
    </form>
  </div>
  <div class='col-md-3'></div>
</div>
{% endblock %}
