<br>
<div class='row'>
  <nav class="navbar navbar-expand {% if expand_navbar %}{% else %}col-sm-12 col-md-10 col-lg-8{% endif %}"
       style="background-color: #e8eaf6;">
    <div class="container">

      <div class="navbar-brand">
        {% load static %}
        <img src="{% static request.resolver_match.app_name|add:'/favicon.ico' %}"
             alt="" width="24" height="24" class='navbar-ico'>
      </div>

      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto">
          {% for ell in navbar_list %}

            {% if ell.focus %}
              <li class="nav-item">
                <a class="nav-link active" href="{{ ell.url }}">{{ ell.text }}</a>
              </li>

            {% elif ell.category %}
              <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  {{ ell.text }}
                </div>
                <ul class="dropdown-menu">
                  {% for category in ell.category_list %}
                  <li><a class="dropdown-item" href="{{ category.url }}">{{ category.label }}</a></li>
                  {% endfor %}
                </ul>
              </li>

            {% else %}
              <li class="nav-item">
                {% load active_nav_tag %}
                <a class="nav-link {% active ell.url request.path %}" href="{{ ell.url }}">{{ ell.text }}</a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>

        <span class='navbar-text'>
          <a href="{% url 'core:index' %}"
             style="color: #a1887f; text-decoration: none;">Alpaca’s Cafe</a>
          {% if request.user.is_authenticated %}
          | <span style="color: #a1887f;">{{ user.username }}</span>
          | <a href="{% url 'accounts:logout_and_next' request.resolver_match.app_name %}"
               style="color: #a1887f; text-decoration: none;">Logout</a>
          {% else %}
          | <a href="{% url 'accounts:register_and_next' request.resolver_match.app_name %}"
             style="color: #a1887f; text-decoration: none;">Register</a>
          | <a href="{% url 'accounts:login_and_next' request.resolver_match.app_name %}"
               style="color: #a1887f; text-decoration: none;">Login
        </a>
          {% endif %}
        </span>

      </div>

    </div>
  </nav>
</div>
<br>
