{% extends 'polls/base_polls.html' %}

{% block title %}Polls{% endblock %}

{% block top_header %}<h1>Polls</h1>{% endblock %}

{% block menubar %}{% endblock %}

{% block main_content %}
<ul>
{% for q in latest_question_list %}
  <li>
    Q{{ q.pk }}. <a href="{{ q.get_absolute_url }}">{{ q.question_text }}</a>
    <ol>
    {% for a in q.choice_set.all %}
      <li>{{ a.choice_text }} - {{ a.votes }} vote{{ a.votes|pluralize }}</li>
    {% endfor %}
    </ol>
    <br>
  </li>
{% empty %}
  <li>No polls are available.</li>
{% endfor %}
</ul>
{% endblock %}
