{% extends 'polls/base_polls.html' %}

{% block title %}Polls{% endblock %}

{% block top_header %}Polls{% endblock %}

{% block menubar %}
<li class="nav-item">
  <a class="nav-link disabled" href="{% url 'polls:index' %}">Blank</a>
</li>
{% endblock %}

{% block main_content %}
<div class="list-group col-sm-12 col-md-6 col-lg-5">
  {% for q in latest_question_list %}
  <a href="{{ q.get_absolute_url }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Q{{ q.pk }}. {{ q.question_text }}</h5>
      <small class="text-muted">Published recently? <br> {{ q.published_recently }}</small>
    </div>
    <ol class="mb-1">
    {% for a in q.choice_set.all %}
    <li>{{ a.choice_text }} - {{ a.votes }} vote{{ a.votes|pluralize }}</li>
    {% endfor %}
    </ol>
  </a>
  {% empty %}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">No polls are available.</h5>
  </div>
  {% endfor %}
</div>
{% endblock %}
