{% load static %}

<link rel='stylesheet' type='text/css' href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
  <ul>
  {% for q in latest_question_list %}
    <li>
      Q{{ q.pk }}. <a href={% url 'polls:detail' q.pk %}>{{ q.question_text }}</a>
      <ol>
      {% for a in q.choice_set.all %}
        <li>{{ a.choice_text }} - {{ a.votes }} vote{{ a.votes|pluralize }}</li>
      {% endfor %}
      </ol>
    </li>
    <br>
  {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}
