{% extends 'encyclopedia/base_wiki.html' %}

{% block title %}Article :: {{ article.entry_name }}{% endblock %}

{% block menubar %}
<li class="nav-item">
  <a class="nav-link active" aria-current="true" href="{% url 'encyclopedia:index' %}">Go back</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'encyclopedia:edit_entry' article.slug %}">Edit this article</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'encyclopedia:delete_entry' article.slug %}">Delete this article</a>
</li>
{% endblock %}

{% block main_content %}
<h2>{{ article.entry_name }}</h2>
<br>

{% if article %}
<div>
  {% autoescape off %}
  {{ entry_text_html }}
  {% endautoescape %}
</div>
<div>
  <br>
  <div><small>last update: {{ article.upd_date }}</small></div>
</div>
{% else %}
<p>Some Error.</p>
{% endif %}
{% endblock %}
