{% extends 'encyclopedia/base_wiki.html' %}

{% block title %}Encyclopedia{% endblock %}

{% block menubar %}
<li class="nav-item">
  <a class="nav-link active" aria-current="true" href="{% url 'encyclopedia:new_entry' %}">Write a new article</a>
</li>
{% endblock %}

{% block main_content %}
<h3>Articles to read</h3>

<ul class="list-group">
  {% for entry in wiki_entries %}
  <li class="list-group-item">
    <a href='{{ entry.get_absolute_url }}'>{{ entry.entry_name }}</a>
  </li>
  {% empty %}
  <li class="list-group-item active" aria-current="true">No entries in wiki.</li>
  {% endfor %}
</ul>
{% endblock %}
