<form method='POST' class='d-inline'>
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.ghost_field.errors }}
{{ form.ghost_field }}

{% if profile == listing.owner %}

  {% if listing.highest_bid %}
    <button type='submit' name='btn_owner_closed_auction' class='btn btn-warning'>Close the auction</button>
  {% endif %}
  <button type='submit' name='btn_owner_withdrew' class='btn btn-danger'>Cancel the auction</button>

{% else %}

  {% load listing_tags %}
  {% in_watchlist listing profile as in_watchlist_flag %}
  {% can_unwatch listing profile as can_unwatch_flag %}

  {{ form.bid_value.errors }}
  {{ form.bid_value }}

  {{ form.auctioneer.errors }}
  {{ form.auctioneer }}

  {% if bid_forbidden %}
    <span id='bid_forbidden' class='btn btn-warning disabled'>{{ bid_forbidden }}</span>
  {% else %}
    <button type='submit' name='btn_user_bid' class='btn btn-warning'>Make a bid</button>
  {% endif %}

  {% if in_watchlist_flag is False %}
    <button type='submit' name='btn_user_watching' class='btn btn-info'>Add to watchlist</button>
  {% elif in_watchlist_flag and can_unwatch_flag %}
    <button type='submit' name='btn_user_unwatched' class='btn btn-info'>Remove form watchlist</button>
  {% endif %}

{% endif %}
</form>
