{% load listing_tags %}

{% in_watchlist listing request.user.username as in_watchlist_flag %}
{% can_unwatch listing request.user.username as can_unwatch_flag %}
{% can_bid listing request.user.username as can_bid_flag %}

{% if request.user.username == listing.owner.username %}

  {% if listing.potential_buyers.count > 0 %}
  <div class='d-inline'>
    <a href='' class='btn btn-warning'>Close the auction form</a>
  </div>
  {% endif %}
  <div class='d-inline'>
    <a href='' class='btn btn-danger'>Withdraw form</a>
  </div>

{% else %}

  {% if can_bid_flag is True %}
  <div class='d-inline'>
    <a href='' class='btn btn-warning'>Make a bid form</a>
  </div>
  {% else %}
  <div class='d-inline'>
    <span class='btn btn-warning disabled'>Your bid is on the top.</span>
  </div>
  {% endif %}
  {% if in_watchlist_flag is False %}
    <div class='d-inline'>
      <a href='' class='btn btn-info'>Add to watchlist form</a>
    </div>
  {% elif in_watchlist_flag and can_unwatch_flag %}
    <div class='d-inline'>
      <a href='' class='btn btn-info'>Remove form watchlist form</a>
    </div>
  {% endif %}

{% endif %}
