{% extends 'auctions/base_auctions.html' %}

{% block title %}Auctions :: Listings :: {{ listing.title }}{% endblock %}

{% block main_content %}
{% if listing.is_active is False and request.user.username == listing.owner.username %}
<div class='row mt-5'>

  <div class='col-0 col-md-0 col-lg-1 col-xl-2 col-xxl-3'></div>
  <div class='col-12 col-md-12 col-lg-10 col-xl-8 col-xxl-6'>

    <div class='card'>
      <div class='card-body'>
        <div class='row row-cols-1 row-cols-sm-2'>
          <img class='col mb-2' src='/media/{{ listing.image }}' alt='{{ listing.slug }}'
               style='width: fit-content; min-width: 120px; max-width: 200px;'>
          <div class='col'>
            <h3 class='card-title mb-3'>{{ listing.title|capfirst }}</h3>
            <h6 class='card-subtitle mb-3'>Category: {{ listing.category|lower }}</h6>
            <h6 class='card-subtitle mb-2'>Starting price: 🪙{{ listing.starting_price|floatformat:"-2" }}</h6>
          </div>
        </div>
        <p class='card-text'>{{ listing.description|capfirst }}</p>
        <div class='d-inline'>
          <a href='{% url "auctions:edit_listing" listing.slug %}' class='btn btn-secondary'>Edit</a>
        </div>
        <form method='POST' class='d-inline'>
          {% csrf_token %}{{ form }}
          <button type='submit' class='btn btn-warning'>Publish and start the auction</button>
        </form>
      </div>
      <span class='card-footer'><small>Created: {{ listing.date_created }}</small></span>
    </div>

    {% include 'auctions/_comment_section.html' %}

  </div>

</div>
{% else %}
<h3>Error: listing is published and/or you aren't it's owner.</h3>
{% endif %}
{% endblock %}
