{% extends 'auctions/base_auctions.html' %}

{% block title %}Auctions :: Your History{% endblock %}

{% block main_content %}
<h3 class='row'>Your History</h3>

<ul class="list-group list-group-flush col-12">
  {% for log_entry in profile_logs %}
  <li class="list-group-item d-flex flex-wrap mb-1">
    <span class="d-inline-flex" style='min-width: 180px; color: #424242;'>{{ log_entry.date }}</span>
    <span class="d-inline-flex">{{ log_entry.entry }}</span>
  </li>
  {% endfor %}
</ul>
{% endblock %}
